/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
header {
    position: relative; 
    /* w okol niego beda sie pozycjonowac */
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
header > * {
    position: absolute;
}
header img {
    height: 50%;
    bottom: 0;
    right: 0;
}
header div.welcome {
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 15px;
    font-size: 20px;
}
header h2 {
    font-size: 20px;
    font-weight: normal;
}
header button {
    font-family: 'Saira';
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}    

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
        
    }
    header div.welcome {
        top: 15%;;
        left: 5%;
        right: 50%;
    }
    header button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    header div.welcome {
        font-size: 38px;
    }
    header h1 {
        font-size: 32px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        font-size: 18px;
        line-height: 40px;
    }
    header img {
        right: 0%;
    }

}

@media (orientation: landscape) and (min-width: 768px) {
    header div.welcome {
        font-size: 60px;
        margin-top: 10px;
    }
    header h1 {
        font-size: 42px;
    }
    header h2 {
        font-size: 38px;
    }
    header button {
        font-size: 18px;
        line-height: 60px;
        margin-top: 80px;
    }
    header img {
        right: -15%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
   header div.welcome {
        font-size: 100px;
        text-align: left;
        left: 10%
        
   }
   header h1 { 
        margin-top: 40px;
        font-size: 50px;
   }
   header h2 {
        font-size: 50px;
   }
   header button {
        margin-top: 60px;
        font-size: 28px;
        line-height: 70px;

   }
   header img {
        right: -2%;
        height: 95%;
   }

}
@media (min-width: 1024px) {
    header button {
        cursor: pointer;
    }
    header button:hover {
        background-color: white;
        color:#111;
        transition:0.3;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header div.welcome {
         font-size: 120px;
         text-align: left;
         left: 10%
         
    }
    header h1 { 
         margin-top: 40px;
         font-size: 60px;
    }
    header h2 {
         font-size: 60px;
    }
    header button {
         margin-top: 60px;
         font-size: 28px;
         line-height: 90px;
         border: 1px solid white;
 
    }
    header img {
         right: -2%;
         height: 95%;
    }
 
 }
@media (orientation: portrait) and (min-width: 300px) {
    header div.welcome {
        font-size: 48px;
    }
    header h1 {
        font-size: 36px;
    }
    header h2 {
        font-size: 28px;
        padding-bottom: 30px;
    }
    header button {
        font-size: 24px;
        line-height: 40px;
        
    }
    header img {
        right: -20%;
    }
  
}

@media (orientation: portrait) and (min-width: 200px) {
    header div.welcome {
        font-size: 32px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 24px;
        padding-bottom: 0px;
    }
    header button {
        font-size: 12px;
        line-height: 20px;
        
    }
    header img {
        right: -30%;
              
    }
  
}

/* Sekcja 1 - nasze cechy */

.features {
    max-width: 1600px;
    margin: 20px auto 0;
    padding: 5%;
    text-align: center;
    
}
.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;

}
.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22x;
    text-transform: uppercase;
    font-weight: bold;
}
.features p {
    font-family: 'Saira';
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
@media (min-width:360px) {
    .features p {
        font-size: 16px;
    }
    .features h1 {
        font-size: 28px;
    }
    .features h2 {
        font-size: 24px;
    }
}
@media (min-width:768px) {
    .features p {
        font-size: 32px;
    }
    .features h1 {
        font-size: 42px;
    }
    .features h2 {
        font-size: 24px;
    }
}
@media (min-width:1024px) {
    .features {
        margin-top: 20px;
        padding: 5% 2%;
        text-align: center;
        
    }
    
    .feature {
        float: left;
        width: 33%;
        padding: 15px;
    }
    .features p {
        font-size: 18px;
        padding: 20px;
        pad: 0 10px;
    }
    .features h1 {
        font-size: 42px;
        padding-bottom: 10px;
    }
    .features h2 {
        font-size: 18px;
        line-height: 110%;
    }
}
@media (min-width:1600px) {

    .features {
        margin-top: 20px;
        padding: 5% 2%;
        text-align: center;
    }
    
    .feature {
        float: left;
        width: 33%;
        padding: 40px;
    }
    .features p {
        font-size: 21px;
        font-family: 'Saira';
        font-weight:300;
        padding-top: 50px;
    }
    .features h1 {
        font-size: 60px;
        font-weight: bold;
    }
    .features h2 {
        font-size: 36px;
        font-weight: bold;
        font-family: 'Saira Condensed';
    }
} 

.portfolio {
    background-color: #1e1e1e;
    padding: 10px 0 30px 0;
    
}
.portfolio h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira';
    font-weight: normal;
    padding: 10px 20px 20px 0px;
}
.portfolio .about h2 {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: white solid 1px;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}
.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;
}
.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
}
.portfolio .project:nth-of-type(even) {
    background-color: #0170ba;
}
.portfolio .project {
    margin-bottom: 20px;
    max-width: 1600px;
    margin: 0 auto 20px;
}

@media (orientation: landscape) {
    .web, 
    .about { 
        width: 50%;
        float: left;
    }
    .web img {
        display: block;
    }
    .portfolio .project:nth-of-type(even)
    .web {
        float: right;
    }
}
@media (min-width:768px) {
    .portfolio h1 {
        font-size: 40px;
    }
    .portfolio .about h2 {
        text-transform: uppercase;
        font-size: 24px;
        border-bottom: white solid 1px;
        margin-bottom: 12px;
        padding-bottom: 6px;
        text-indent: 20px;
    }
    .portfolio .about p {
        font-size: 18px;
        padding-left: 20px;
    }
    .portfolio .project {
        margin-bottom: 40px;
    }
}
@media (orientation:landscape) and (min-width:1024px) {
    .portfolio h1 {
        font-size: 60px;
        font-weight: bold;
    }
    .portfolio .about h2 {
        text-transform: uppercase;
        font-size: 36px;
        border-bottom: white solid 1px;
        margin-bottom: 30px;
        padding-bottom: 50px;
        text-indent: 20px;
        padding-top: 20px;
    }
    .portfolio .about p {
        font-size: 21px;
        padding-left: 20px;
        line-height: 3rem;
    }
    .portfolio .project:nth-of-type(odd) {
        background-color: #ff4f2c;
        
    }
    .portfolio .project:nth-of-type(even) {
        background-color: #0170ba;     
    }
    .portfolio .project {
        margin-bottom: 20px;
    }
    .portfolio .project:nth-of-type(even) 
    .about h2
    {
        text-indent: 0;
        margin-left:20px;
    }
    .portfolio .project:nth-of-type(even) 
    .about {
        padding-right: 0;
    }
    .portfolio .project:nth-of-type(even) 
    .about p {
        padding-left:20px;
        padding-right: 20px;
    }

}

/* section {
    min-height: 100vh;
} */

/* Sekcja slogan */
.slogan {
    text-align: center;
    background-image: url(../1strona/images/motto.jpg);
    background-size: cover;
    background-position: top center;
    color: white;
    /* background-attachment: fixed; */
}
.slogan h1 {
        font-family: 'Saira Condensed', sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
}
.slogan p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;

}
.slogan p.author {
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    margin-top: 12px;

}
.slogan .bg {
    padding: 30px 10px;
    background-color: hsla(207, 100%, 22%, 0.5);
    height: 100%;
}
@media (orientation: landscape) {
    .slogan p {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    .slogan h1 {
            font-family: 'Saira Condensed', sans-serif;
            font-size: 46px;
            text-transform: uppercase;
            margin-bottom: 15px;
            margin-top: 15px;
    }
    .slogan p {
        font-family: 'Saira', sans-serif;
        font-size: 36px;
        margin-top: 30px;
    
    }
    .slogan p.author {
        font-family: 'Saira', sans-serif;
        font-size: 24px;
        margin-top: 24px;
    
    }
}
@media (min-width: 1024px) {
    .slogan .bg {
        padding: 80px 10px;
    }
    .slogan h1 {
        font-family: 'Saira Condensed', sans-serif;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .slogan p {
    font-family: 'Saira', sans-serif;
    font-size: 36px;
    margin-top: 30px;

    }
        .slogan p.author {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    margin-top: 24px;

    }
}